/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*a {*/
    /*text-decoration: none !important;*/
    /*background: none !important;*/
/*}*/
/*a:hover {*/
    /*text-decoration: none !important;*/
    /*background: none !important;*/
/*}*/

.page-title {
    margin: 30px 20px 20px 50px;
}

#rightcolumn {
    background-color: #f0f0f0;
    border-left-color: #eeeeee;
}

.brand {
    line-height: 30px;
}
.brand:hover {
    background-color: #2C3E50 !important;
}

.signin {
    font-size: 20px !important;
    color: #515151 !important;
}
.signin:hover {
    color: #f0f0f0 !important;
}

body {
    padding: 0 !important;
}

.content {
    padding: 0px 30px;
}

.breadcrumb {
    margin: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 13px 15px !important;
}

.span12 {
    width: 100% !important;

}

.navbar {
    margin: 0 !important;
}
