// Place all the styles related to the Articletypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table.table-striped {
  width: 900px;
  margin-left: 50px;
  margin-right: 10px;
}